/core/vendor
/core/node_modules
/core/public/build
/core/public/hot
/core/public/storage
/core/storage/*.key
/core/storage/logs/*.log
/core/storage/framework/cache/*
/core/storage/framework/sessions/*
/core/storage/framework/views/*
/core/.env
/core/.env.backup
/core/.env.production
/core/.phpunit.cache
/core/.phpunit.result.cache
/core/Homestead.json
/core/Homestead.yaml
/core/auth.json
/core/npm-debug.log
/core/yarn-error.log
/.fleet
/.idea
/.vscode
*.log
.DS_Store
Thumbs.db
